<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <!--数据库连接解密密钥-->
    <add key="EncryptKey" value="BeiJing#2008"/>
    <!--供应商数据同步频率-->
    <add key="SupplierTask" value="0/5 * * * * ?"/>
    <!--供应商最后更新的ID-->
    <add key="SupplierId" value="61779"/>
  </appSettings>
  <connectionStrings>
    <!--今通 jinriairv2 -->
    <add name="JinriAirV2DB_SELECT" connectionString="GyEItJtJeAgBrfz5z4LSm8ZyBCbItGPfodYAlBE+nSkzkYv3pUTHYbletFqbWpVv6Y9KwzgchxK/Lf0qBpmhs4kNYzXW8QcNKoJCnL1PDD5pteaqBmaSqKbYKeOLCnCOkEf21PVKrVTB345xwNTeAw==" providerName="System.Data.SqlClient" />
    <!-- 海外jinriairv2-->
    <add name="ZonefareAirV2DB_INSERT" connectionString="GyEItJtJeAgBrfz5z4LSm5XABASgrg0BPMtiw7paQ6MzkYv3pUTHYbletFqbWpVvz0S3GLQzobEf4QxoM2ev8cA5lMhJBvO9h1aGvgMJ8jpnWgfpu+KfQaBTWjm/W7uD4sVItheQCjg=" providerName="System.Data.SqlClient" />
    <!--IFltZonefareDB（OEM海外系统独立数据表）-->
    <add name="IFltZonefareDB_SELECT" connectionString="GyEItJtJeAgBrfz5z4LSm5XABASgrg0BPMtiw7paQ6Oa1lx/d1UA+Wn2xak82BzJYeqTWCNwg2EmlaHkxuw5ByWgd2Yn8BBhMtq/MxuCs9jrBZkFJnXH6WXv14Xppr4tJx3wPdJgNjsg/BbbxogfMg==" providerName="System.Data.SqlClient"/>
    <add name="IFltZonefareDB_INSERT" connectionString="GyEItJtJeAgBrfz5z4LSm5XABASgrg0BPMtiw7paQ6Oa1lx/d1UA+Wn2xak82BzJYeqTWCNwg2EmlaHkxuw5ByWgd2Yn8BBhMtq/MxuCs9jrBZkFJnXH6WXv14Xppr4tJx3wPdJgNjsg/BbbxogfMg==" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>
